.container {
    text-align: center;
}

.container p:nth-child(3){
    color: brown;
    font-size: 2rem;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.rectanular{
    padding: 0;
    margin-right: 10rem;
    display: inline-block;
    background: red;
    height: 10rem;
    width: 10rem;
    border: black solid 1px;

}

.circle{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    width: 100%;
    height: 10rem;
    width: 10rem;
    border-color: black;
    border-radius: 50%;

}